html, body { min-height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
	background-color: var(--mat-sys-background);
	color: var(--mat-sys-on-background);
}

body {
	color-scheme: dark;
}

router-outlet {
	display: none;
}
